@tailwind base;
@tailwind components;
@tailwind utilities;

/* global.css */

:root {
  --background: 255, 255, 255; /* Light Mode */
  --foreground: 0, 0, 0; /* Dark Mode */
  --primary: 255, 0, 0; /* Example Color */
  --secondary: 0, 0, 255; /* Example Color */
}

/* Dark mode specific variables */
.dark {
  --background: 10, 10, 10; /* Dark background */
  --foreground: 255, 255, 255; /* Light text */
  --primary: 0, 255, 0; /* Example Dark Mode color */
  --secondary: 255, 255, 0; /* Another Dark Mode color */
}

